<div class="column">
  <nav class="panel">
    <p class="panel-heading">who to follow</p>
  </nav>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jamie Don</strong>
            <small>@jamiedon</small>
          </p>
        <div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jamie Don</strong>
            <small>@jamiedon</small>
          </p>
        <div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jamie Don</strong>
            <small>@jamiedon</small>
          </p>
        <div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jamie Don</strong>
            <small>@jamiedon</small>
          </p>
        <div>
      </div>
    </article>
  </div>
</div>